div {
  height: 100px;
  width: 100px;
  color: rgb(250, 250, 250);
  border: none;
  border-radius: 20%;
  background: rgb(129, 129, 129);
  margin: 10%;
  padding: 10%;
  font-size: 48px;
  text-align: center;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    -10px -10px 15px rgba(70, 70, 70, 0.7);

  top: 20%;
  left: 20%;
  position: absolute;
}

body {
  background-color: #949393;
  padding: 0px;
  margin: 0px;
}

div:hover {
  background: rgb(0, 0, 0);
  background: transparent;
  border-radius: 50%;
  transform: scale(1.2);

  /* border-top-left-radius: 0%;
  border-bottom-left-radius: 0%; */
  box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
}
